
<nav class="navbar navbar-expand-md navbar-light ">
  <div class="container ">
    <a href="{{ url_for('main.home') }}" class="navbar-brand my-2">
      <h3 class="d-inline align-middle" id="party-title">PartyFun'd</h3>
    </a>
    <!-- <div class="auto-complete"></div> -->
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav ">
        {% if not current_user.is_authenticated %}
        <li class="nav-item">
          <a href="{{ url_for('events.events_list') }}" class="nav-link">Events</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('bars.bars_list') }}" class="nav-link">Bars</a>
        </li>
       
        <li class="nav-item">
          <a href="{{ url_for('users.login') }}" class="nav-link" id="sign-in">Sign In</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{{ url_for('events.events_list') }}" class="nav-link">Events</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('bars.bars_list') }}" class="nav-link">Bars</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="mx-2" src="../../static/profile_pics/{{current_user.image_file}}"  width="50" height="50" alt="">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('users.profile') }}">Profile</a>
            <a class="dropdown-item" href="{{ url_for('users.profile') }}">Account</a>
            <a class="dropdown-item" href="{{ url_for('events.my_events') }}">My Events</a>
            <a class="dropdown-item" href="{{ url_for('events.new_event') }}" >Create Event</a>
            <div class="dropdown-divider"></div>
            
            <a class="dropdown-item" href="{{ url_for('users.logout') }}" >Sign Out</a>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
