{% extends 'layout.html' %} {% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5">
      <h1 class="text-center">Mission Statement</h1>
      <h5>Welcome to my passion project!

        I am currently enrolled in the <a href="http://www.springboard.com"> Springboard software engineering</a> program. A former professional mixed martial artists, I worked many years in the Bar and Music industry. I hold these industries dear to my heart and it has been extremely difficult for me to see these industries brought to their knees by the 2020 covid-19 pandemic. With the world being forced to shutdown. The bar and live music indsutry has been hit harder than most and as I write this in mid August their doors still remain forced closed. CLosures are forcing small businesses into debt, laying off workers, and leaving artists homeless. The uncertainty has caused bankruptcy, and worse, forcing doors to close and peoples liveliehoods and dreams ruined.<br><Br>

        Live music and neighborhood bars have been a positive outlet and escape for myself many others. They are part of our community, and they need our help.<br><Br>
        
        My goal is to create an online ecosystem with current technologies that incentivize venues, bartenders, and artists to connect with their communities to help these industries thrive once again. <br><br>

        The web app before you is just the beginning, and for now is a playground to test my newly developed skills. Check back for future updates. Untill then read here more about how you can immediately benefit these industries. <Br><br>
        
        Sincerely, 
        <blockquote>Danny Marks </blockquote>
        </h5>

        <a href="https://nitolive.org/resources/take-action"><h4 class="text-center">https://nitolive.org/resources/take-action</h4></a>
    </div>
    <div class="col-md-6 mx-auto mt-5 avatar ">
      <img class="avatar img-fluid" src="../static/dannyd.jpg" alt="">
    </div>
  </div>
</div>
          {% endblock %}