{% extends 'layout.html' %} {% block content %}


<link rel="stylesheet" href="{{ url_for('static', filename='events.css') }}"/>



 
  
  
    <div class="container">
      <div class="row">
        

        <div class="container">
          {% for bar in event.bars %}
          <div class="fb-profile">
              <img align="left" class="fb-image-lg" src="{{bar.img_header}}" alt="Profile Header"/>
              <img align="left" class="fb-image-profile thumbnail border-dotted" src="{{ event_poster }}" alt="Profile side image "/>
          </div>   
              <div class="fb-profile-text">
              <div class="row">
                <div class="card-body">
                  <div class="container" >
                    
                    <a class="btn btn-block btn-primary " id="buy_now_btn" href="{{url_for('payments_blueprint.stripe_payment')}}">Buy Ticket</a>
                  
                  </div>
                </div>

                <div class="container ">
                  <div class="col">
                    <div class="container border-dotted mt-3 ">
                      <h1 class="text-center mt-2">{{event.name_of_event}}</h1>
                      <h5 class="text-center">About this event:</h5>
                      <p class="text-center">{{event.desc}}</p>
                    
                    
                    <h5 class="text-center">Date & Time:</h5>
                    <p class="text-center">{{event.date_of_party}}</p>
                    </div>

                    
                    <div class="container border-dotted my-3">
                      <h6 class="text-center mt-2">Location:</h6>
                      <a href="{{url_for('bars.bars_profile', bar_id=bar.id)}}"><h3 class="text-center">{{bar.bar_name}} </h3></a>
                      <div class="container ">
                        <p class="text-center">{{bar.address}}<br>
                          {{bar.city}}
                          {{bar.state}}<br>
                          <a href="mailto:{{bar.email}}">{{bar.email}} </a><br>
                          <a href="http://{{bar.website}}">{{bar.website}}</a>
                        </p>
                      </div>
                     
                     
                    </div>
                    {% endfor %}   

                    
                    <div class="container border-dotted mb-3 ">
                      <div class="row">
                        <div class="col">
                          <h3 class="text-center mt-2">Rsvp'd:</h3>
                          <div class="container d-flex justify-content-between">
                            {% for rsvp in event.rsvps %}
                            <img class="m-3" src="../../../static/profile_pics/{{rsvp.image_file}}"  width="50" height="50" alt="rsvps">
                            {% endfor %}  
                          </div>
                         
                        </div>
                      </div>
                    </div>
                    
                       
                     
                     
                     
                  
                    <div class="container border-dotted mb-3 ">
                      <div class="container  ">
                        <h1 class="text-center">{{event.user.username}}</h1>
                        <div class="container imageCenterAlign">
                          <img class="image-center center-block" src="../../../static/profile_pics/{{event.user.image_file}}" alt="">
                        </div>
                        
                        <h4 class="text-center">Event host: <a href="mailto:{{event.user.email}}">{{event.user.email}}</a></h4>
                      </div>
                      
                     </div>
                    
                  

                  
                
                </div>
              </div>
             

                
                
              </div>
            
          </div>
        </div>


    
       
  
      </div>
    
      
    
  </div>



{% endblock %}
