{% extends 'layout.html' %} {% block content %}



<div class="container border-dotted">
  <div class="content-section ">
    <div class="media m-3">
      <img class="rounded-circle account-img" src="../../../static/profile_pics/{{user.image_file}} ">
      <div class="media-body">
        <h2 class="account-heading mx-3">{{ user.username }}</h2>
        <p class="text-secondary mx-3">{{ user.email }}</p>
      </div>
      </div>
 </div>

        
<div class="container">
  <div class="row">
    {%for event in user.event%}
    <div class="col-md-4 d-flex">
      
      <div class="card flex-fill">
        <a class="img-card" href="/events/{{ event.id }}">
          <img src="../../../static/profile_pics/{{ event.event_flyer_img }}" class="img-fluid mb-5" />
        </a>
        <br />
        <div class="event-content">
          <div class="event-content-header">
            <form class="mb-2">
              <button class="btn btn-outline-primary "
                      formaction="{{ url_for('events.update_event', event_id=event.id )}}"
                      formmethod="GET">Edit Event
              </button>
               
            <button class="btn btn-outline-danger "
                   formaction="/events/{{ event.id }}/delete"
                   formmethod="POST">Delete 
            </button>
             
            </form>
            <a href="#">
              <h3 class="event-title">{{event.name_of_event}}</h3>
            </a>
            <div class="ms-logo"></div>
          </div>
          <div class="event-info">
            <div class="info-section">
              <label>Date & Time</label>
              <span>{{event.date_of_party}}</span>
              <span>{{event.time_of_party}}</span>
            </div><!--date,time-->
           
            <div class="info-section">
              <label>Hosted By</label>
              <span>{{user.username}}</span>
            </div><!--row-->
            <div class="info-section">
              <label>Goal</label>
              <span>{{event.total_fund}}</span>
            </div><!--seat-->
          </div>
        </div>
       
       
      </div>
     
    </div>
    {%endfor%}
  </div>
  <hr>
  <div class="container text-center">
    <h1>Attending</h1>
  </div>
  </div>
</div>







       
     


{% endblock %}