{% extends 'layout.html' %} {% block content %}

<<div class="container ">
  <div class="row">
    <div class="col-md-6">
      <div class="container border-dotted ">
        <div class="container">
        <div class="media mt-3 ml-3">
          <img class="account-img img-fluid mb-3" src="../../../static/profile_pics/{{current_user.image_file}}">
          
          <div class="media-body mt-3">
            <h2 class="account-heading mx-3">Party Host: {{ current_user.username }}</h2>
            <p class="text-secondary mx-3">{{ current_user.email }}</p>
          </div>
        </div>
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
          {% from "includes/_formhelpers.html" import render_field %}
          {{ form.csrf_token }}
          
          <div class="form-group">
            {{render_field(form.name_of_event, class_="form-control")}}
          </div>
        
          <div class="form-group">
            
            {{render_field(form.desc, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.venue, class_="form-control")}}
          </div>
          <div class="form-group">
            {{ form.event_flyer_img.label() }}
            {{ form.event_flyer_img(class="form-control-file") }}
            {% if form.event_flyer_img.errors %}
                {% for error in form.event_flyer_img.errors %}
                    <span class="text-danger">{{ error }}</span></br>
                {% endfor %}
            {% endif %}
        </div>
          <div class="container">
            <div class="row">
              <div class="form-group col-md-6">
                {{render_field(form.date_of_party, class_="form-control")}}
              </div>
              <div class="form-group col-md-6">
                {{render_field(form.time_of_party, class_="form-control")}}
              </div>
            </div>
          </div>
        
          <div class="form-group">
            {{render_field(form.number_of_guests, class_="form-control")}}
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 form-group
              ">
              {{render_field(form.target_goal, class_="form-control")}}
              </div>
              <div class="col-md-6 form-group">
                {{render_field(form.total_fund, class_="form-control")}}
              </div>
            </div>
          </div>
          
         
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p><input type="submit" class="btn btn-primary btn-block" value="Update" /></p>
            
          </div>
          <div class="col-md-6">
            <button class="btn btn-danger btn-block "
                   formaction="/events/{{ event.id }}/delete"
                   formmethod="POST">Delete 
            </button>
          </div>
        </div>
      </div>
          
        </form>
      </div>
    </div>
    <div class="col-md-6">
     
        
      <img class="img-fluid event-default-poster" src="../../../static/profile_pics/{{event.event_flyer_img}}">

      
           
    </div>
      </form>
  </div>
 
  
  
  
</div>
{% endblock %}