{% extends 'layout.html' %} {% block content %}
<a href="{{url_for('events.update_event', event_id=event.id)}}"><button class="btn btn-primary btn-lg btn-block">Edit Event</button></a>
  

<div class="event-main">
  
  
  <div class="container">
    <div class="row">
      {% for bar in event.bars %}
      <div class="col-md-6">
        
        <div class="card" id="big-poster">
          
          <img
            src="{{ event_poster }}"
            class="img-fluid"
            id="poster"
            alt=""
          />
          
          <div class="card-body">
            <div class="container" >
              <a class="btn btn-lg btn-primary btn-block" id="buy_now_btn" href="{{url_for('payments_blueprint.stripe_payment')}}">Buy Ticket</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">{{event.name_of_event}}</h2>
        </div>
        <div class="card-body">
          <h4>
            {{event.desc}}
          </h4>
         
          
        </div>
        
      </div>
      <div class="container bcontent">
        <h2>Location</h2>
        <hr />
        <div class="card" style="width: 500px;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="../static/bar3.jpg" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">{{ bar.bar_name }}</h5>
                        <p class="card-text">Tenderloin</p>
                        <div class="container text-center">
                          <a type="button" class="btn-floating btn-fb btn-sm">
                            <i class="fab fa-facebook-f"></i>
                          </a>
                          <a type="button" class="btn-floating btn-tw btn-sm">
                            <i class="fab fa-twitter"></i>
                          </a>
                          <a type="button" class="btn-floating btn-li btn-sm">
                            <i class="fab fa-linkedin-in"></i>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
      </div>

    </div>
    {% endfor %}
    
  </div>
</div>



{% endblock %}
