{% extends 'layout.html' %}

{% block body %}
<div class="container mt-5">
  <h1>How it Works</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, corrupti nemo. Veritatis laboriosam cum necessitatibus autem dignissimos, corporis eum corrupti quod dolore. Corporis error omnis esse quis vitae sed quae asperiores accusantium tempora est rerum illum amet vel autem quos, magni ex excepturi in eaque molestiae! Quibusdam explicabo, modi laboriosam tenetur laborum voluptas animi. Libero quam odit ullam enim. Similique quidem consequuntur ratione! Deserunt quos beatae dignissimos adipisci, dolorum fugiat unde quae tenetur tempore incidunt ullam fuga aliquam error ipsam repellat voluptate distinctio repellendus magni non enim pariatur, maiores perspiciatis, aut rerum? Ab adipisci, animi dolores deleniti assumenda voluptas esse.</p>
</div>
  
{% endblock %}