{% extends 'layout.html' %}


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='bars.css') }}"/>

<div class="container">
  <div class="bar-profile">
      <img align="left" class="fb-image-lg" src="{{bar.img_header}}" alt="Profile Header"/>
      <img align='left'class="bar-image-profile " src="{{bar.img}}" alt="Profile side image "/>
      <div class="fb-profile-text">
          
          
      </div>
  </div>
</div> <!-- /container -->  

 <div class="container ">
   <div class="row">
     <div class="col ">
      <h1>{{bar.bar_name}}</h1>
      {{bar.address}} <Br>{{bar.city}}, {{bar.state}} <br>
        <a href="{{bar.website}}">{{bar.website}} </a><br>
        <a href="mailto:{{bar.email}}">{{bar.email}}</a>
        <p class="my-3">{{bar.desc}}</p>
      
     </div>
    
   </div>
 </div>
{% endblock %}