{% extends 'layout.html' %}

{% block content %}

<div class="container">
  <div class="auto-complete"></div>
</div>


<section class="container mt-4 mb-4">
  <h1 class="text-center mb-5"><a href="{{ url_for('bars.signup') }}">Partner Bars</a></h1>
  <div class="container  my-2"></div>
  <div class="row mb-3">
    {% for bar in bars.items %}
    <div class="col">
     

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{bar.img}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{bar.bar_name}}</h5>
          <p class="card-text">{{bar.desc}}</p>
          <div class="container text-center">
            <a type="button" class="btn-floating btn-fb btn-sm">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
              <i class="fab fa-twitter"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
          <a href="{{url_for('bars.bars_profile', bar_id=bar.id)}}" class="btn btn-block btn-primary">More Info</a>
          
        </div>
       
      </div>
      
    </div>
    {% endfor %}
  </div>
</div>
    

 

  


<div class="container d-flex justify-content-center ">
{% for page_num in bars.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)%}
  {%if page_num %}  
      {% if bars.page == page_num %}
      <a class="btn btn-primary mx-1 mb-4" href="{{ url_for('bars.bars_list', page=page_num)}}">{{page_num}}</a>
      {%else%}
      <a class="btn btn-outline-primary mx-1 mb-4" href="{{ url_for('bars.bars_list', page=page_num)}}">{{page_num}}</a>
      {%endif%}
    {%else%}
    ...
  {%endif%}
{% endfor %}
</div>
</section>

 
{% endblock %}


