{% extends 'layout.html' %}

{% block content %}

<section class="container mt-4 mb-4">
  <h1 class="text-center mb-5"><a href="{{ url_for('bars.signup') }}">Partner Bars</a></h1>
  
    {% for bar in bars.items %}
    <div class="container d-flex justify-content-center my-2">
      <div class="row mb-3">
        <div class="card" style="width: 500px;">
          <div class="row no-gutters">
              <div class="col-sm-5">
                  <img class="card-img" src="../static/bar3.jpg" alt="Suresh Dasari Card">
              </div>
              <div class="col-sm-7">
                  <div class="card-body">
                      <h5 class="card-title">{{ bar.bar_name }}</h5>
                      <p class="card-text">Tenderloin</p>
                      <div class="container text-center">
                        <a type="button" class="btn-floating btn-fb btn-sm">
                          <i class="fab fa-facebook-f"></i>
                        </a>
                        <a type="button" class="btn-floating btn-tw btn-sm">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a type="button" class="btn-floating btn-li btn-sm">
                          <i class="fab fa-linkedin-in"></i>
                        </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        
    
    </div>
  </div>
  


{% endfor %}
<div class="container d-flex justify-content-center ">
{% for page_num in bars.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)%}
  {%if page_num %}  
      {% if bars.page == page_num %}
      <a class="btn btn-primary mx-1 mb-4" href="{{ url_for('bars.bars_list', page=page_num)}}">{{page_num}}</a>
      {%else%}
      <a class="btn btn-outline-primary mx-1 mb-4" href="{{ url_for('bars.bars_list', page=page_num)}}">{{page_num}}</a>
      {%endif%}
    {%else%}
    ...
  {%endif%}
{% endfor %}
</div>
</section>

 
{% endblock %}


